<div class='flex justify-center'>
  <h1 class="text-2xl font-bold sm:text-3xl">Sign In</h1>

  <%= form_with(model: @user, url: sessions_path, class: 'mx-auto mb-0 mt-8 max-w-md space-y-4') do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4 field">
      <%= form.label :email, "Email", class: "label" %>
      <%= form.email_field :email, class: "input", placeholder: "Email" %>
    </div>

    <div class="mb-4 field">
      <%= form.label :password, "Password", class: "label" %>
      <%= form.password_field :password, class: "input"%>
    </div>

    <div class="flex justify-start">
      <%= form.submit class: "btn-primary" %>
    </div>
  <% end %>

  <%= link_to "Signup", new_registrations_path %> 

</div>
